<section class="container mx-auto mt-10">
  <div>
    <a
      href="https://www.facebook.com/sek.dai/"
      class="text-3xl text-blue-600 hover:text-red-500"
      >Facebook</a
    >
    <div class="text-3xl text-green-600 hover:text-red-500">
      0795 418 148
    </div>
  </div>
</section>
