    <section class="hero">
        <div class="container mx-auto flex items-center justify-around">
            <div>
                <h6 class="text-3xl text-center mb-3"><em> Have a nice day !</em></h6>
                <a href="">
                    <h1 id="text_order" class="px-5 text-6xl font-bold rounded-full">Order now! </h1>
                </a>
            </div> 
            <div>
                <img src="/image/logo_primary.png" alt="logo_primary">
            </div>
        </div>
    </section>
    <section id="products" class="menu container mx-auto py-8">
        <h1 class="text-xl font-bold">All Coffee</h1>
        <div class="grid grid-cols-4 col-gap-12 row-gap-16">
            <div class="w-64 rounded-full">
                <img class="h-64 w-64" src="/image/phusi.png" alt="coffee_phusi">
                <div class="text-center">
                    <h2 class="font-bold">PhuSi Coffee</h2>
                    <select name="choose-size" class="py-1 px-4 rounded-full uppercase text-xs">
                        <option value="sizeM">size m</option>
                        <option value="sizeL">size l</option>
                    </select>
                    <div>
                        <h2 class="price-to-cart font-size text-lg mt-3 text-3xl">3$</h2>
                        <button class="add-to-cart focus:border-pink-700 px-3 mt-3 border-solid rounded-full text-3xl">
                            <span>+</span>
                            <span>Add<span>
                        </button>
                    </div>
                </div>
            </div>
                <div class="w-64 rounded-full">
                <img class="h-64 w-64" src="/image/phusi.png" alt="coffee_phusi">
                <div class="text-center">
                    <h2 class="font-bold">PhuSi Coffee</h2>
                    <select name="choose-size" class="py-1 px-4 rounded-full uppercase text-xs">
                        <option value="sizeM">size m</option>
                        <option value="sizeL">size l</option>
                    </select>
                    <div>
                        <h2 class="price-to-cart font-size text-lg mt-3 text-3xl">3$</h2>
                        <button class="add-to-cart px-3 mt-3 border-solid rounded-full text-3xl">
                            <span>+</span>
                            <span>Add<span>
                        </button>
                    </div>
                </div>
            </div>
                        <div class="w-64 rounded-full">
                <img class="h-64 w-64" src="/image/phusi.png" alt="coffee_phusi">
                <div class="text-center">
                    <h2 class="font-bold">PhuSi Coffee</h2>
                    <select name="choose-size" class="py-1 px-4 rounded-full uppercase text-xs">
                        <option value="sizeM">size m</option>
                        <option value="sizeL">size l</option>
                    </select>
                    <div>
                        <h2 class="price-to-cart font-size text-lg mt-3 text-3xl">3$</h2>
                        <button class="add-to-cart px-3 mt-3 border-solid rounded-full text-3xl">
                            <span>+</span>
                            <span>Add<span>
                        </button>
                    </div>
                </div>
            </div>
                        <div class="w-64 rounded-full">
                <img class="h-64 w-64" src="/image/phusi.png" alt="coffee_phusi">
                <div class="text-center">
                    <h2 class="font-bold">PhuSi Coffee</h2>
                    <select name="choose-size" class="py-1 px-4 rounded-full uppercase text-xs">
                        <option value="sizeM">size m</option>
                        <option value="sizeL">size l</option>
                    </select>
                    <div>
                        <h2 class="price-to-cart font-size text-lg mt-3 text-3xl">3$</h2>
                        <button class="add-to-cart px-3 mt-3 border-solid rounded-full text-3xl">
                            <span>+</span>
                            <span>Add<span>
                        </button>
                    </div>
                </div>
            </div>
                        <div class="w-64 rounded-full">
                <img class="h-64 w-64" src="/image/phusi.png" alt="coffee_phusi">
                <div class="text-center">
                    <h2 class="font-bold">PhuSi Coffee</h2>
                    <select name="choose-size" class="py-1 px-4 rounded-full uppercase text-xs">
                        <option value="sizeM">size m</option>
                        <option value="sizeL">size l</option>
                    </select>
                    <div>
                        <h2 class="price-to-cart font-size text-lg mt-3 text-3xl">3$</h2>
                        <button class="add-to-cart px-3 mt-3 border-solid rounded-full text-3xl">
                            <span>+</span>
                            <span>Add<span>
                        </button>
                    </div>
                </div>
            </div>
                        <div class="w-64 rounded-full">
                <img class="h-64 w-64" src="/image/phusi.png" alt="coffee_phusi">
                <div class="text-center">
                    <h2 class="font-bold">PhuSi Coffee</h2>
                    <select name="choose-size" class="py-1 px-4 rounded-full uppercase text-xs">
                        <option value="sizeM">size m</option>
                        <option value="sizeL">size l</option>
                    </select>
                    <div>
                        <h2 class="price-to-cart font-size text-lg mt-3 text-3xl">3$</h2>
                        <button class="add-to-cart px-3 mt-3 border-solid rounded-full text-3xl">
                            <span>+</span>
                            <span>Add<span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    
    </section>


