<section class="">
  <div class="mt-5 flex justify-around ">
    <table class="table-auto history-orders">
      <tr>
        <td class="border px-4 py-2">Orders</td>
        <td class="border px-4 py-2">Detail</td>
        <td class="border px-4 py-2">Address</td>
        <td class="border px-4 py-2">Phone</td>
        <td class="border px-4 py-2">Note</td>
        <td class="border px-4 py-2">Status</td>
        <td class="border px-4 py-2">Time</td>
      </tr>
      <tbody id="orderTableBody">
        
      </tbody>
    </table>
  </div>
</section>
