@import "./variables";
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothie: antialiased;
  color: $dark;
  // background: $secondary;
}

// nav li:first-child {
//     &:hover{
//         background: $light;
//     }
//     width: 40px;
//     height: 40px;
//     background: $pure;
// }

#logo_cart {
  &:hover {
    background: $light;
  }
  // width: 42px;
  // height: 42px;
  background: $pure;
}

nav li a {
  // transition: all .2s ease-in-out;
  &:hover {
    color: $primary;
  }
}

#text_order {
  background: $pure;
}

section.hero {
  background: $secondary;
}

.add-to-cart {
  background: $pure;
  &:hover {
    background: $light;
  }
  &:focus {
    outline: none;
    border: 3px solid $pure;
  }
}

.price-to-cart {
  color: $price;
}

// .back,
// .submit {
//   border: 3px solid $pure;
//   &:hover {
//     background: $light;
//   }
//   background: $pure;
// }

.btn-login {
  background: $pure;
  &:hover {
    background: $light;
  }
}

input[type="text"]:focus {
  outline: none;
  border: 2px solid $pure;
}

input[type="password"]:focus {
  outline: none;
  border: 2px solid $pure;
}

.noty_theme__mint {
  border-radius: 50px !important;
  padding-left: 8px !important;
}

.format-cart {
  width: 300px;
  background-color: white;
  border-radius: 0.25rem;
  border: 2px solid $light;
  &:focus {
    outline: none;
    background-color: white;
    border: 2px solid $pure;
  }
}

.history-orders {
  // background: $dark;
  color: $dark;
}

section .status {
  // background-color: $secondary;
  min-height: 500px;
  padding-bottom: 50px;
  // height: 500px;
}

.status-box ul li span {
  position: relative;
}

.status-box ul li span::after {
  content: "";
  position: absolute;
  left: -15px;
  top: 0;
  background: $dark;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translateY(5px);
}

.status-box ul li span::before {
  content: "\f46c";
  font-family: "Line Awesome Free";
  font-size: 46px;
  // font-weight: 600;
  // background-color: blue;
  // position: absolute;
}

.status-line {
  padding-bottom: 35px;
}

.status-line span {
  font-size: 25px;
}

//Line

.status-box ul li {
  position: relative;
}

.status-box ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -11px;
  width: 2px;
  height: 65%;
  background: $dark;
  margin-top: 55px;
}

//last dot
.status-box ul li:nth-child(5)::before {
  display: none;
}

//step
.status-box ul li.step-completed {
  color: $gray;
}

.status-box ul li.step-completed::before {
  background-color: $gray;
}

.status-box ul li.step-completed span::after {
  background-color: $gray;
}

//current
.status-box ul li.current {
  color: $primary;
}

.status-box ul li.current:before {
  background-color: $primary;
}

.status-box ul li.current span::after {
  background-color: $primary;
}

.status-line small {
  float: right;
  margin-top: 32px;
}

@media (max-width: 1060px) {
  .container {
    max-width: 90%;
  }
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

@media (max-width: 550px) {
  #logo {
    width: 50px;
    height: 50px;
  }
  li {
    font-size: 14px;
  }
  #logo_cart {
    width: 50px;
    height: 30px;
  }
}
