<section>

    <div class="container mx-auto w-1/2">
        <div>
            <h1 class="font-bold text-xl border-b border-gray-600">All items</h1>
        </div>
        <div class="flex items-center justify-between border-b border-gray-600">
            <img class="w-40 h-40" src="/image/phusi.png" alt="phusi_coffee">
            <div>
                <h1>PhuSi Coffee</h1>
                <span>Size: M</span>
            </div>
            <span>Count</span>
            <span>price</span>
        </div>
        <div class="flex items-center justify-between border-b border-gray-600">
            <img class="w-40 h-40" src="/image/phusi.png" alt="phusi_coffee">
            <div>
                <h1>PhuSi Coffee</h1>
                <span>Size: M</span>
            </div>
            <span>Count</span>
            <span>price</span>
        </div>
        <div class="flex items-center justify-between border-b border-gray-600">
            <img class="w-40 h-40" src="/image/phusi.png" alt="phusi_coffee">
            <div>
                <h1>PhuSi Coffee</h1>
                <span>Size: M</span>
            </div>
            <span>Count</span>
            <span>price</span>
        </div>
        <!-- <hr> -->
        <div class="text-right mt-3">
            <div>
                <span>Total Amount: </span>
                <span class="text-green-700">9 $</span>
            </div>
            <div class="mt-3">
                <form action="">
                    <textarea class="border border-gray-400 focus:outline-none" name="note" cols="30" rows="5"
                    placeholder="Please write note!"></textarea>
                    <br>
                    <button type="submit" class="submit font-bold text-xl mt-3 px-2 rounded-full">Order now</button>
                </form>
            </div>
        </div>
    
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- <div class="mt-3 text-center text-xl italic text-pink-500">
        <h1>CART EMPTY!</h1>
        <p>Please add items to cart</p>
        <a class="back rounded-full px-2" href="/">BACK</a>
        <img class="w-2/5 mx-auto" src="/image/empty_cart.png" alt="empty_cart">
    </div> -->
</section>